.app {
    height: 100vh;
}
.homepage { 
    background: url(../homepage.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    opacity: 0.8;
}
.homepage h1 {
    font-size: 10vh;
    color: beige;
    font-weight: 600;
}
.fading {
    font: 900 2rem sans-serif;
    color: steelblue;
    padding: 1rem;
    text-align: center;
    animation-name: fade-in;
    animation-duration: 7s;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.shop-container, .employees-container, .calendar-dashboard-nested-page{
    width: 100%;
    padding: 1% 5% 15% 5%;
}
.calendar-dashboard-nested-page h1 {
    text-align: center;
}
.shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shop-container h1 {
    text-align: center;
}
.container-fluid {
    padding: 0px!important;
}

.btn-link, .nav-link {
    text-decoration: none;
    color: #212529;
    padding:10px;
}

.btn-link:hover {
    color: #212529;
    opacity: 0.75;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

.dashboard {
    display: flex;
    flex-direction: row;
    height: auto;
}
.calendar {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    position: relative;
}
.calendar-title-head {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
}
.calendar-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    margin: 10px;
    font-size: 15px;
}
.calendar-body {
    display: flex;
    flex-direction: column;
}
.calendar-body-items {
    padding: 5px;
    margin: 2px 0px;
    width: 100%;
    background-color: #adb5bd;
    color: #141619;
    border-radius: 5px;
    border: 1px;
}
.calendar-body-items:hover {
    background-color: #7d8184;
}
.calendar-body-items-taken {
    text-decoration: line-through;
    padding: 5px;
    margin: 2px 0px;
    width: 100%;
    background-color: #adb5bd;
    color: #141619;
    border-radius: 5px;
    border: 1px;
    opacity: 30%;
}
.calendar-header span {
    display: flex;
    text-align: center;
}
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calendar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}
.calendar-toggle-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}
.select-employee {
    width: 30%;
}
.calendar-week-selectors {
    font-size: 20px;
    top: 13%;
    margin-top: 25px;
}
label.btn.btn-primary {
    background-color: #adb5bd;
    color: #ffffff;
    margin: 5px;
    border: none;
    border-radius: 10px 10px 10px 10px!important;
}
label.btn.btn-primary:hover{
    background-color: #7d8184!important;
}
label.btn.btn-primary:checked{
    background-color: #222323!important;
}
label.btn.btn-primary .btn-check:checked {
 background-color: #222323!important;
}
.select-employee-toggle-container {
    margin: 5px;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr 2fr;
}

.grid-item {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #cccccc;
}
.appointment-modal-cards {
    padding: 10px;
    margin: 5px;
}
.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px;
}