.homepage { 
    background: url(../homepage.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    opacity: 0.8;
}
.homepage h1 {
    font-size: 10vh;
    color: beige;
    font-weight: 600;
}
.fading {
    font: 900 2rem sans-serif;
    color: steelblue;
    padding: 1rem;
    text-align: center;
    animation-name: fade-in;
    animation-duration: 7s;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div#root {
    height: 100vh;
}
.shop-container, .employees-container, .calendar-container{
    width: 100%;
    padding: 5%;
}
.container-fluid {
    padding: 0px!important;
}

.btn-link, .nav-link {
    text-decoration: none;
    color: #212529;
}

.btn-link:hover {
    color: #212529;
    opacity: 0.75;
}